<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mypack.book.mapper.BorrowBookMapper">

    <select id="list" parameterType="com.mypack.book.dto.borrow.BorrowBookSearchDTO"  resultType="com.mypack.book.dto.borrow.BorrowBookDTO">
        select
          t.*,
          (select b.book_name from edu_book b where b.book_no = t.book_no) bookName
        from edu_borrow_book t
        <where>
            <if test="deleteFlag != null">
                and t.delete_flag = #{deleteFlag}
            </if>
            <if test="bookNo != null and bookNo != ''">
                and t.book_no like "%"#{bookNo}"%"
            </if>
        </where>
        order by t.id desc
    </select>

</mapper>
